#{extends 'CRUD/layout.html' /}
#{jqueryui-config /}
#{set activeMenu:'Inventory'/}
#{set activeMenuSub:'InventoryMeasure'/}
#{blankConfig title:messages.get('UserPosition')/}
#{flashCrud /}
<script src="/public/javascripts/jquery.resizableColumns.min.js"></script>


%{inventoryPermission = user.getUserPermissionType(controllers.Consts.permissionInventory);}%
<div id="main-content" class="dhidden" ${inventoryPermission==3 ? "" : "hidden=\"true\""}>
    <div>
        <div class="m-b-0 clearfix">
            <div class="page-title pull-left">
                <h3 class="pull-left"><strong>&{'Measure'}</strong></h3>
            </div>
            <div class="pull-right">
            #{if inventoryPermission==3}
                <button class="btn btn-success m-t-10" data-toggle="modal" data-target="#modal-addmeasure"><i
                        class="fa fa-plus p-r-10"></i> &{'add_new_measure'}</button>
            #{/if}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                <table id="measure-list-table" class="table table-tools table-hover"
                                       data-resizable-columns-id="inventorysupplier-resizalbe-table">
                                    <thead>
                                    <tr>
                                        <th style="min-width:70px" data-resizable-column-id="#">
                                        </th>
                                        <th data-resizable-column-id="measure"><strong>&{'measure'}</strong>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    #{list items:Measures, as: 'measure'}
                                    <tr>
                                        <td><strong>${measure.id}</strong></td>
                                        <td>${measure.measure}</td>
                                    </tr>
                                    #{/list}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    #{if MaxPageNumber>1}
                        <div class="page-navigation" style="width: 100%; text-align: right;">
                            <a style="text-decoration: none;"
                               href="@{InventoryMeasures.list(CurrentPageNumber-1)}">
                                <input
                                        class="number-button btn btn-default" ${ CurrentPageNumber - 1 <= 0 ? 'disabled': ''}
                                        style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
                                        type="button"
                                        value="<"/>
                            </a>
                        %{
                            int threeDots = 0;
                            for(int i = 1; i <= MaxPageNumber; i++){
                            if( i == 1 || i == MaxPageNumber || (CurrentPageNumber < 3 && i < 5) ||
                            (CurrentPageNumber - 1 <= i && i <= CurrentPageNumber + 1) ||
                            (CurrentPageNumber > MaxPageNumber - 2 && i > MaxPageNumber - 4) ){
                            }%
                            <a style="text-decoration: none;"
                               #{if CurrentPageNumber != i}href="@{InventoryMeasures.list(i)}"#{/if}>
                                <input
                                        class="number-button btn btn-${CurrentPageNumber == i ? 'dark':'default'}"
                                        style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
                                        type="button"
                                        value="${i}"/>
                            </a>
                        %{ }else{
                            if( i == 2 || i == MaxPageNumber - 1 ){
                            threeDots = 1;
                            }
                            if(threeDots == 1){
                            }%
                            <span style="font-size: x-large;"><strong>...</strong></span>
                        %{
                            threeDots = 0;
                            }
                            }
                            }
                            }%
                            <a style="text-decoration: none;"
                               href="@{InventoryMeasures.list(CurrentPageNumber+1)}">
                                <input
                                        class="number-button btn btn-default" ${ CurrentPageNumber >= MaxPageNumber ? 'disabled': ''}
                                        style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;"
                                        type="button"
                                        value=">"/>
                            </a>
                        </div>
                    #{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-addmeasure" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>&{'add_new_measure'}</strong></h4>
                </div>
                <div class="modal-body">
                    <form action="@{InventoryMeasures.newMeasure()}" class="form-horizontal" method="get"
                          accept-charset="utf-8"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabcordion">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in" id="product_general">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <label class="col-sm-2 control-label">&{'measure'} <span
                                                                class="asterisk">*</span>
                                                        </label>

                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control"
                                                                   placeholder=&{'measure'}...
                                                                   id="input_measure"
                                                                   required="true"
                                                                   name="measure">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-t-20 m-b-40 align-center">
                                <button type="button" id="measure_add" class="btn btn-success m-t-10"><i
                                        class="fa fa-check"></i> &{'save'}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-editmeasure" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><strong>&{'edit_measure'}</strong></h4>
                </div>
                <div class="modal-body">
                    <form action="@{InventoryMeasures.saveMeasure()}" class="form-horizontal" method="get"
                          accept-charset="utf-8"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabcordion">
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in" id="product_general">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <label class="col-sm-2 control-label">&{'measure'} <span
                                                                class="asterisk">*</span>
                                                        </label>

                                                        <div class="col-sm-7">
                                                            <input type="text" class="form-control"
                                                                   placeholder=&{'measure'}...
                                                                   required="true"
                                                                   id="measure_edit"
                                                                   name="measure">
                                                            <input type="text" hidden="true" id="edit_id"
                                                                   name="measure_id"
                                                                   required="true"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-t-20 m-b-40 align-center">
                                <button type="button" id="edit_edit"
                                        class="btn btn-default m-t-10 "><i
                                        class="fa fa-pencil"></i> &{'edit'}
                                </button>
                                <button id="edit_save" class="btn btn-success m-t-10"><i
                                        class="fa fa-check"></i> &{'save'}</button>
                                <button type="button" id="edit_delete"
                                        class="btn btn-danger m-t-10 dhidden"><i
                                        class="fa fa-times-circle"></i> &{'delete'}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(window).load(function () {
    #{if message == "savesuccess"}
        showSuccessMessage("Амжилттай засагдлаа.");
    #{/if}
    #{if message == "savefailed"}
        showSuccessMessage("Амжилтгүй боллоо.");
    #{/if}
        $('div#main-content').removeClass('dhidden');
        $(function () {
            $("table").resizableColumns({
                store: window.store
            });
        });
    });


    $(document).ready(function () {
        var opt = {};

        // Tools: export to Excel, CSV, PDF & Print
        opt.sDom = "",
                opt.oLanguage = {"sSearch": "", 'sEmptyTable': "Үр дүн байхгүй байна."} ,
                opt.iDisplayLength = 40,

                opt.oTableTools = {
                    "sSwfPath": "/assets/plugins/datatables/swf/copy_csv_xls_pdf.swf",
                    "aButtons": ["csv", "xls", "pdf", "print"]
                };
        opt.aaSorting = [[0, 'desc']]
        opt.aoColumnDefs = [
            {'bSortable': false, 'aTargets': []}
        ];


        var oTable = $('#measure-list-table').dataTable(opt);
        oTable.fnDraw();

        /* Add a placeholder to searh input */
        $('.dataTables_filter input').attr("placeholder", "Search a product...");


        $('table#measure-list-table tr').on('click', function (e) {
            e.preventDefault();
            var nRow = $(this);
            var index = $(nRow).find('td:nth-child(1) strong').html();
            $('div#modal-editmeasure input:first-child').attr('readonly', true);
            $('div#modal-editmeasure button#edit_save').addClass('dhidden');
            $('div#modal-editmeasure button#edit_edit').addClass('dhidden');
            $('div#modal-editmeasure button#edit_delete').addClass('dhidden');
        #{if user.getUserPermissionType('inventory')==3}
            $('div#modal-editmeasure input:first-child').attr('readonly', false);
            $('div#modal-editmeasure button#edit_save').removeClass('dhidden');
            $('div#modal-editmeasure button#edit_delete').removeClass('dhidden');
        #{/if}

            $.ajax({
                type: "POST",
                data: {id: index},
                url: "/inventorycategoryeditmeasure"
            }).success(
                    function (data) {
                        $('div#modal-editmeasure input:first-child').val(data);
                        $('div#modal-editmeasure input:nth-child(2)').val(index);
                        $('div#modal-editmeasure').modal('show');
                    });

        });

        $('div#modal-editmeasure button#edit_edit').on('click', function (e) {
            e.preventDefault();
            $('div#modal-editmeasure input:first-child').removeAttr('readonly', false);
            $('div#modal-editmeasure button#edit_save').removeClass('dhidden');
            $('div#modal-editmeasure button#edit_edit').addClass('dhidden');
            $('div#modal-editmeasure button#edit_delete').addClass('dhidden');

        });

        /* Delete a product */
        $('div#modal-editmeasure button#edit_delete').on('click', function (e) {
            e.preventDefault();
            if (confirm("Энэ нэгжийг устгахдаа итгэлтэй байна уу?") == false) {
                return;
            }
            var index = $('div#modal-editmeasure input:nth-child(2)').val();

            $.ajax({
                type: "POST",
                data: {id: index},
                url: "/inventorymeasuresdeletemeasure"
            }).success(
                    function (data) {
                        if (data == "persistent") {
                            showErrorMessage("Ашиглагдаж байгаа тул устгах боломжгүй.");
                        }
                        if (data == "deletesuccess") {
                            showSuccessMessage("Амжилттай устгагдлаа.");
                            $('table#measure-list-table tbody tr').each(function () {
                                if ($(this).find('strong').html() == index) {
                                    oTable.fnDeleteRow($(this).find('td').parents('tr')[0]);
                                }
                            });
                            $('div#modal-editmeasure').modal('hide');
                        }
                        if (data == "deletefailed")
                            showErrorMessage("Амжилтгүй боллоо.");

                    });

            // alert("Deleted! Do not forget to do some ajax to sync with backend :)");
        });

        $('div#modal-editmeasure button#edit_save').on('click', function (e) {
            e.preventDefault();
            if ($('div#modal-editmeasure input#measure_edit').val() == "")
                showErrorMessage("Нэгж бөглөнө үү?.");
            else
                $('div#modal-editmeasure form').submit();
        });


        $('div#modal-addmeasure button#measure_add').on('click', function (e) {
            e.preventDefault();
            if ($('div#modal-addmeasure input#input_measure').val() == "")
                showErrorMessage("Нэгж бөглөнө үү?.");
            else
                $('div#modal-addmeasure form').submit();
        });

        $('input#measure_edit').change(function () {
            $.ajax({
                type: "POST",
                data: {
                    measure: $(this).val(),
                    id: $('input#edit_id').val()
                },
                url: "/inventoryCheckMeasureEdit"
            }).success(
                    function (data) {
                        if (data == "false") {
                            $('input#measure_edit').val("");
                            showErrorMessage("Нэгж нэр давхцаж байна.");
                        }
                    });
        });

        $('input#input_measure').change(function () {
            $.ajax({
                type: "POST",
                data: {measure: $(this).val()},
                url: "/inventoryCheckMeasure"
            }).success(
                    function (data) {
                        if (data == "false") {
                            $('input#input_measure').val("");
                            showErrorMessage("Нэгж нэр давхцаж байна.");
                        }
                    });
        });


    });
</script>
<style>
    .panel-body {
        background-color: #FFF;
        padding: 0px;
        padding-left: 0px;
    }

    div#main-content body, div#main-content ul, div#main-content li {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 21px;
        text-align: left;
    }
</style>

#{inventory-config /}
#{ImgThumbnail /}