<script src="/assets/plugins/jquery.printElement.js"></script>

<div class="modal-header" style="height: 50px;!important;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <button type="button" onclick="punchListRFIModalToBottom(this)" class="bttmto btn btn-default btn-sm m-r-20"
            style="float: right;">
    &{'ViewLastReply'}
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div style="width: 8.27in; margin-left: auto; margin-right: auto; color: #000000;">
            <div id="RFIPunchPrintable">
                <style xmlns="http://www.w3.org/1999/html">
                    table#det_table tr:first-child td, table#min_table tr:first-child td {
                        font-size: 16px;
                    }

                    table#det_table tr td {
                        font-size: 14px;
                    }

                    p {
                        display: inline;
                    }

                    table#det_table tr, table#min_table tr {
                        height: 32px;
                        background-color: white;
                        color: #000000;
                    }

                    table#det_table tr td {
                        border-bottom: solid black 1px;
                    }

                    table#det_table tr:last-child td {
                        border-bottom: none;
                    }

                    .td {
                        padding-left: 5px;
                        padding-right: 5px;
                        font-weight: bold;
                    }

                    div.punchList-images img {
                        height: 40px !important;
                        width: 40px !important;
                        cursor: pointer;
                        margin: 5px 5px 0 0;
                        box-shadow: 0 0 1px gray;
                        border: 1px solid #333;
                        border-radius: 2px;
                        background: white;
                    }
                </style>
                <table id="det_table" style="width: 100%; font-family: Arial; text-align: left;" border="0"
                       cellpadding="0" cellspacing="0">
                    <tr style="border: solid black 1px;">
                        <td class="td" colspan="6"
                            style="background-color: black; color: white; height: 34px; width: 75%;">
                        &{'PunchList'}
                        </td>
                        <td style="width: 25%;">
                            <span class="td"
                                  style="margin-left: 3%; margin-right: 2%;">Punch Item No:</span>${punchList.No}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <span class="td">&{'Subject'}:</span>
                        ${punchList.name}
                        </td>
                        <td rowspan="7" class="align-center" style="border: none!important;">
                            <div>
                                <img style="width: 60%;"
                                     src="/public/images/logo/logo.png">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div style="float: left;">
                                <span class="td">&{'AssignedTo'}:</span>
                            ${punchList.assignee.getLastnameFirstCharacter() + ". " + punchList.assignee.firstName}
                            </div>
                            <div style="float: right; margin-right: 10px;">
                                <span class="td">&{'Date'}:</span>${punchList.createDate.format("yyyy-MM-dd HH:mm")}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <span class="td">&{'Position'}:</span>${punchList.assignee.userPosition.name}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <span class="td">&{'Project'}:</span>${punchList.project.name}
                        </td>
                    </tr>
                #{if punchList.task != null}
                    <tr>
                        <td colspan="6">
                    <span class="td">&{'Task'}
                        :</span>${punchList.task.projectObject.name + ", " + punchList.task.name}
                        </td>
                    </tr>
                #{/if}
                    <tr>
                        <td colspan="2" style="width: 182px">
                            <span class="td">&{'ScheduleImpact'}:</span>&{punchList.scheduleImpact.impact}</td>
                        <td colspan="2" style="width: 182px">
                            <span class="td">&{'CostImpact'}:</span>&{punchList.costImpact.impact}</td>
                        <td colspan="2" style="width: 182px">
                            <span class="td">&{'Priority'}:</span>&{punchList.priority.priority}</td>
                    </tr>
                #{if punchList.location != null}
                    <tr style="border-bottom: none;">
                        <td colspan="6">
                            <span class="td">&{'Location'}:</span>
                        ${punchList.location}
                        </td>
                    </tr>
                #{/if}
                </table>
            #{if punchList.pins.size()}
                <table id="det_table" style="width: 100%; font-family: Arial; text-align: left;" border="0"
                       cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr style="min-height: 60px; max-height: 130px; overflow: hidden;"
                        valign="middle" cellpadding="0"
                        cellspacing="0">
                        <td colspan="5" style="padding-bottom: 8px">
                            <span class="td" style="margin-top: 16px; height: 100%; float: left">
                        &{'DrawingPins'}:</span>
                            #{list items:punchList.pins, as:'dpin'}
                                #{if dpin.drawing != null}
                                    <div class="btn btn-default drewImg" title="${dpin.drawing.name}"
                                         onclick="editDrawing(this)"
                                         style="vertical-align: middle; width: 100px; height: 100px; background: url('${dpin.drawing.dir + "." + dpin.drawing.extension}') no-repeat center; background-size: 100px 100px; margin-right: 5px;">
                                        <span class="dhidden">1</span>
                                        <input type="hidden" name="drawingType" class="drawingType"
                                               value="drawing"/>
                                        <input type="hidden" name="drawingPin" class="drawingPin"
                                               value="${dpin.getJson()}"/>
                                        <input type="hidden" name="drawingId" class="drawingId"
                                               value="${dpin.drawing.id}"/>
                                        <img class="dhidden"
                                             src="${dpin.drawing.dir + "." + dpin.drawing.extension}"/>
                                    </div>
                                #{/if}
                                #{else}
                                    <div class="btn btn-default drewImg" title="${dpin.punchListAttach.name}"
                                         onclick="editDrawing(this)"
                                         style="vertical-align: middle; width: 100px; height: 100px; background: url('${dpin.punchListAttach.dir + "." + dpin.punchListAttach.extension}') no-repeat center; background-size: 100px 100px; margin-right: 5px;">
                                        <span class="dhidden">1</span>
                                        <input type="hidden" name="drawingType" class="drawingType"
                                               value="attach"/>
                                        <input type="hidden" name="drawingPin" class="drawingPin"
                                               value="${dpin.getJson()}"/>
                                        <input type="hidden" name="drawingId" class="drawingId"
                                               value="${dpin.punchListAttach.id}"/>
                                        <img class="dhidden"
                                             src="${dpin.punchListAttach.dir + "." + dpin.punchListAttach.extension}"/>
                                    </div>
                                #{/else}
                            #{/list}
                        </td>
                    </tr>
                    </tbody>
                </table>
            #{/if}
                <div style="margin-top: 20px;">
                    <table id="min_table" border="0"
                           style="width: 100%; font-family: Arial; text-align: left;"
                           cellpadding="0" cellspacing="0">
                        <thead style="border: solid #000000 1px;">
                        <tr>
                            <td class="td" colspan="3">
                            &{'Daalgavar'}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 2%;padding-right: 2%" colspan="3">
                                <p>${punchList.description}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">
                                <span class="td">&{'DueDate'}:</span>
                            ${punchList.dueDate.format("yyyy-MM-dd")}
                            </td>
                            <td style="width: 30%;">
                                <span class="td">&{'IssuedBy'}:</span>
                            ${punchList.questionReceivedFrom.getLastnameFirstCharacter()}
                                . ${punchList.questionReceivedFrom.firstName}
                            </td>
                            <td style="width: 40%;">
                                <span class="td">&{'Position'}:</span>
                            ${punchList.questionReceivedFrom.userPosition.name}
                            </td>
                        </tr>
                        </thead>
                    #{if punchList.attaches.size()}
                        <tr style="min-height: 60px; max-height: 130px; overflow: hidden;"
                            valign="middle" cellpadding="0"
                            cellspacing="0">
                            <td colspan="3" style="padding-bottom: 8px">
                            <span class="td" style=" margin-top: 16px;height: 100%; float: left">
                        &{'Attachments'}:</span>
                                #{list items:punchList.attaches, as:'attach'}
                                    <div class="punchList-images align-center"
                                         style="float:left;  margin-right: 10px; padding: 0;">
                                    ${controllers.Functions.handleDocumentAttachment(attach.dir,attach.name,attach.extension).raw()}
                                    </div>
                                #{/list}
                            </td>
                        </tr>
                    #{/if}
                    #{if punchList.replies.size()}
                        <tr>
                            <td colspan="3">
                                #{list items:punchList.replies, as:'reply' }
                                    <table id="min_table" border="0"
                                           style="${reply.author.id != punchList.questionReceivedFrom.id ?'margin-left: 5%; width: 95%;' : 'width: 100%;'} font-family: Arial; text-align: left; margin-top: 20px;"
                                           cellpadding="0" cellspacing="0">
                                        <tbody style="border: solid #000000 1px;">
                                        <tr>
                                            <td>
                                            <span class="td">
                                                &{'Reply'}:
                                            </span>
                                            </td>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 2%;padding-right: 2%; font-size:14px;" colspan="3">
                                                <p>${reply.response.raw()}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: ${reply.author.id != punchList.questionReceivedFrom.id ? "25": "30"}%">
                                                <span class="td">&{'Date'}:</span>
                                            ${reply.createDate.format("yyyy-MM-dd HH:mm")}
                                            </td>
                                            <td>
                                <span class="td" style="width: 30%">
                                &{'RepliedBy'}:
                                </span>
                                            ${reply.author.getLastnameFirstCharacter() + ". " + reply.author.firstName}
                                            </td>
                                            <td style="width: 40%">
                                                <span class="td">&{'Position'}:</span>
                                            ${reply.author.userPosition.name}
                                            </td>
                                        </tr>
                                        </tbody>
                                        #{if reply.attaches.size()}
                                            <tr style="min-height: 60px; max-height: 130px; overflow: hidden;"
                                                valign="middle" cellpadding="0"
                                                cellspacing="0">
                                                <td colspan="3" style="padding-bottom: 8px">
                            <span class="td" style=" margin-top: 16px; height: 100%; float: left">
                        &{'Attachments'}:</span>
                                                    #{list items:reply.attaches, as:'attach'}
                                                        <div class="punchList-images align-center"
                                                             style="float:left;  margin-right: 10px padding: 0;">
                                                        ${controllers.Functions.handleDocumentAttachment(attach.dir,attach.name,attach.extension).raw()}

                                                        </div>
                                                    #{/list}
                                                </td>
                                            </tr>
                                        #{/if}
                                    </table>
                                #{/list}
                            </td>
                        </tr>
                    #{/if}
                    #{if punchList.distributions.size()}
                        <tr>
                            <td style="padding-top: 20px;"></td>
                        </tr>
                        <tbody style="border: solid #000000 1px;">
                        <tr valign="middle">
                            <td colspan="3" style="padding-top: 10px;padding-bottom: 10px">
                            <span class="td" style="height: 100%; float: left">
                        &{'Distribution'}:</span>

                                <div style="float: left">
                                    #{list items:punchList.distributions, as:'dist'}
                                        <span>${dist.getName()}</span>
                                        <br>
                                    #{/list}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    #{/if}
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top: 2%;">
                <div class="col-md-12">
                    <div class="btn-group" style="float: right">
                    #{if punchList.questionReceivedFrom.id == user.id && punchList.status.status == "NotResolved"}
                        <button class="btn btn-default" onclick="closePunchList(${punchList.id})"><i
                                class="fa fa-times"></i> &{'Close'}</button>
                    #{/if}
                        <button class="btn btn-default" onclick="RFIPunchPrinter()"><i
                                class="fa fa-print"></i> &{'Print'}
                        </button>
                    </div>
                </div>
            </div>
        #{if punchList.status.status == "NotResolved" && punchList.isAllowReply(user.id)}
            <div class="row">
                <div class="col-md-12">
                    <form id="punchListReplyFeild">
                        <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                            <thead style="background-color: transparent;">
                            <tr>
                                <td>
                                    <button disabled class="btn btn-dark btn-transparent"
                                            style="text-align: left; color: black; width:100%">
                                    &{'writeReply'}<i class="fa fa-angle-double-down" style="float:right; "></i>
                                    </button>
                                    <input type="hidden" name="id" id="replyid" value="${punchList.id}"/>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                        <textarea name="response" id="replytext" rows="5"
                                  style="width: 100%; resize: vertical;"></textarea>
                                </td>
                            </tr>
                            <tr valign="middle">
                                <td>
                                    <div style="float: left">
                                        <div style="display:none">
                                            <div id="showPictureZoom">
                                                <img id="zoomedPicture" src=""/>
                                            </div>
                                            <a id="showPictureZoomA" href="#showPictureZoom"></a>
                                        </div>
                                        <div id="punchListRFIAttachContainer" style="height: 25px;">
                                            <div style="display: none" id="documentImageTemplate">
                                                <li onclick="uploadPunchListClick(this)">
                                        <span>
                                            <span></span>
                                        </span>
                                                </li>
                                            </div>
                                            <div style="display: none" id="deleteImageTemplate">
                                                <img height='12' class='deleteUploadedImage' width='12'
                                                     src="@{'/public/images/delete-image.png'}"
                                                     fileDir='#fileDir' extension='#extension'/>
                                            </div>
                                            <ul id="uploadBox">
                                                <li onclick="uploadPunchListClick(this)">
                                        <span>
                                            <span></span>
                                        </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="punchListAttachs"></div>
                                    </div>
                                    <button style="float: right;" type="button" id="send"
                                            onclick="writeReplyToPunchList()"
                                            class="btn btn-danger btn-transparent">&{'Send'}</button>
                                    <button style="float: right; margin-right: 2%" id="formClear" type="reset"
                                            class="btn btn-default btn-transparent">
                                    &{'Clear'}
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 2%;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        #{/if}
        #{else}
            <div style="height: 30px!important;"></div>
        #{/else}
        </div>
    </div>
</div>
<script>
    $("button#formClear").click(function () {
        $("div#punchListRFIAttachContainer ul#uploadBox").html($("div#punchListRFIAttachContainer div#documentImageTemplate").html());
    });
    function uploadPunchListClick(ban) {
        var image = $(ban).find('img');
        if (image.length > 0) {
            handleAttachmentClick(image);
        } else {
            selectedUbox = "punchListFileAttach";
            $("div#rfi_punchlist_show_file_uploader").find("div.qq-upload-button").find("input").removeAttr("accept");
            $("div#rfi_punchlist_show_file_uploader").find("div.qq-upload-button").find("input").attr("multiple", "multiple");
            $("div#rfi_punchlist_show_file_uploader").find("div.qq-upload-button").find("input").click();
        }
    }

</script>
#{ImgThumbnail div:'div.punchList-images', divid:'plp'/}