#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Event'/}
#{set activeMenuSub: 'EventList'/}
#{event-list-config /}
#{include 'Events/eventModal.html'/}

<div id="main-content">
    <div class="top-page clearfix">
        <div class="page-title pull-left">
            <h3 class="pull-left"><strong>Үйл ажиллагаа зохицуулах</strong></h3>
       
        </div>
        <div class="pull-right">
            <a href="@{controllers.Events.blank()}" target="_blank" class="btn btn-danger m-t-10"><i
                    class="fa fa-plus p-r-10"></i> Нэмэх</a>
        </div>
    </div>
    <div class="top-menu">
        <button class="btn btn-dark" onclick="statusClick(0)" id="status0"><strong>Бүгд</strong> <span
                class="label label-danger m-l-10">${eventsSize}</span></button>
        <button type="button" class="btn btn-default" onclick="statusClick(1)" id='status1'>Болох<span
                class="label label-default m-l-10">${comingSize}</span></button>
        <button type="button" class="btn btn-default" onclick="statusClick(2)" id='status2'>Өнгөрсөн<span
            class="label label-default m-l-10">${passedSize}</span></button>
        <button type="button" class="btn btn-default" onclick="statusClick(3)" id='status3'>Ноорог<span
                class="label label-default m-l-10">${draftSize}</span></button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="events-filter clearfix">
                <div class="col-md-3">
                    <div id="reportrange" class="form-control m-b-10">
                        <i class="fa fa-calendar fa-lg p-r-10"></i> <span>Өдрөөр хайх...</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <select data-width="100%" id="eventCategory">
                        <option value="0">Бүх ангилал</option>
                    #{list items:categories,as:'cat'}
                        <option data-icon="fa-square ${cat.colorClass}" value="${cat.id}">${cat.name}</option>
                    #{/list}
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" id="searchName" class="form-control m-b-10" placeholder="Хайх түлхүүр үг...">
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive eventListData">
            Loading...
        </div>
    </div>
</div>
<script>
    function eventListData(page) {
//        anhniiStatus = 0;
//        loading2("div#main-content table#events-table tbody");
        $.ajax({
            type: "POST",
            data: {
                statusId: 0,
                categoryId: 0,
                searchName: "",
                CurrentPageNumber: page
            }, url: "/event/eventListData",
            beforeSend: function(){
                $("div.eventListData").html("Loading...");
            }
        }).success(
                function (data) {
                    $("div.eventListData").html(data);

                    oTable = $('div#main-content table#events-table').dataTable(opt);
                    oTable.fnDraw();
                });
    }
    $(window).load(function(){
        eventListData(1);
    });
</script>



<script>
    var startDate = "";
    var endDate = "";
    var anhniiStatus = 0;
    var oTable;
    $(document).ready(function () {
        $('#reportrange').daterangepicker({
                    ranges: {
                        'Өнөөдөр': [moment(), moment()],
                        'Өчигдөр': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        'Сүүлийн 7 хоног': [moment().subtract('days', 6), moment()],
                        'Сүүлийн 30 хоног': [moment().subtract('days', 29), moment()],
                        'Энэ сар': [moment().startOf('month'), moment().endOf('month')],
                        'Өнгөрсөн сар': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    startDate: moment().subtract('days', 29),
                    endDate: moment(),
                    format: 'YYYY/MM/DD',
                    locale: {
                        applyLabel: 'Болсон',
                        cancelLabel: 'Болих',
                        fromLabel: 'Аас',
                        toLabel: 'Хүртэл',
                        customRangeLabel: 'Өөрөөр сонгох',
                        dayNames: ["Даваа", "Мягмар", "Лхагва", "Пүрэв", "Баасан", "Бямба", "Ням"],
                        daysOfWeek: ["Ня", "Да", "Мя", "Лх", "Пү", "Ба", "Бя"],
                        monthNames: ["Нэгдүгээр сар", "Хоёрдугаар cар", "Гуравдугаар сар", "Дөрөвдүгээр сар", "Тавдугаар сар", "Зургаадугаар сар", "Долоодугаар сар", "Наймдугаар сар", "Есдүгээр сар", "Аравдугаар сар", "Арваннэгдүгээр сар", "Арванхоёрдугаар сар"],
                        firstDay: 1
                    }
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('YYYY-MM-DD') + ' -c ' + end.format('YYYY-MM-DD'));
                }
        );
        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            console.log("apply event fired, start/end dates are "
                    + picker.startDate.format('YYYY-MM-DD')
                    + " to "
                    + picker.endDate.format('YYYY-MM-DD')
            );
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');

        });
        $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
            console.log("cancel event fired");
            $('#reportrange span').html("Өдрөөр хайх...");
            startDate = "";
            endDate = "";
        });
    });
    function searchFilter() {
        loading2("div#main-content table#events-table tbody");
        $.ajax({
            type: "POST",
            data: {
                statusId: anhniiStatus,
                categoryId: $('select#eventCategory').val(),
                searchName: $('input#searchName').val(),
                startDate: startDate,
                endDate: endDate
            }, url: "/event/eventFilter"
        }).success(
                function (data) {
                    $("div#main-content table#events-table tbody").html(data);
                });
    }
    function statusClick(id) {
        $('button#status' + anhniiStatus).removeClass('btn-dark').addClass("btn-default");
        $('button#status' + anhniiStatus + '>span').removeClass('label-danger').addClass("label-default");
        anhniiStatus = id;
        $('button#status' + id).removeClass('btn-default').addClass("btn-dark");
        $('button#status' + anhniiStatus + '>span').removeClass('label-default').addClass("label-danger");

        $('#searchName').val("");
        $('#reportrange span').html('Өдөр сонгох...');
        $('#eventCategory').selectpicker('val', '0');
        searchFilter();
    }

    function saveNewEvent(){
        if($("div#myModal input#title").val()==''){
            alert("Гарчиг оруулна уу ?");
        }
        else {
            $.ajax({
                type: "POST",
                url: "/event/newEvent",
                data: {
                    id: "12",
                    title: $("div#myModal input#title").val(),
                    desc: $("div#myModal textarea#desc").val(),
                    location: $("div#myModal input#location").val(),
                    startDate: $("div#myModal input#date_timepicker_start").val(),
                    startTime: $("div#myModal input#date_timepicker_start_time").val(),
                    endDate: $("div#myModal input#date_timepicker_end").val(),
                    endTime: $("div#myModal input#date_timepicker_end_time").val()
                }
            }).success(
                    function () {
                    });
        }
        $('#myModal').modal('toggle');
    }
</script>
<style>
    .event-date {
        border-bottom: none;
        border-radius: 4px;
    }
</style>