#{set baseClass:'medias'/}
#{set title: 'Зургийн цомог'/}
#{set activeMenu: 'Gallery'/}

#{set 'moreStyles'}
<link href="/public/valums-fileupload/fileuploader.css" type="text/css" rel="stylesheet"/>
<link href="/assets/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/jquery.fancybox.css?v=2.1.5" media="screen"/>
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/helpers/jquery.fancybox-buttons.css?v=1.0.5"/>
<link rel="stylesheet" type="text/css" href="/public/fancyBox2/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7"/>
<link rel="stylesheet" type="text/css" href="/assets/plugins/magnific/magnific-popup.css">
<!-- END  MANDATORY STYLE -->
#{/set}

#{set 'moreScripts'}
<script src="/assets/plugins/jquery-1.11.js"></script>
<script src="/assets/plugins/nprogress/nprogress.js"></script>
<script src="/assets/plugins/jquery.cookie.min.js"></script>
<script src="/assets/plugins/magnific/jquery.magnific-popup.min.js"></script>

<script src="/public/javascripts/jquery-1.11.2.min.js"></script>
<script src="/public/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.js"></script>
<script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
<script src="/public/valums-fileupload/fileuploader.js"></script>
<script src="/assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<script src="/public/fancyBox2/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/public/fancyBox2/source/jquery.fancybox.js?v=2.1.5"></script>
<script src="/public/fancyBox2/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script src="/public/fancyBox2/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script src="/public/fancyBox2/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
#{/set}